/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

/* 全体共通 */

body {
	margin: 0;
	background-color: white;
	color: #464E58;
}
.flex{
    display: flex;
}
input {
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
}
p {
	font-size: 16px;
	margin: 0;
}
h4 {
	font-size: 0.8em;
	font-weight: normal;
	color: #8C9298;
}
a {
	text-decoration: none;
	color: #464E58;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
i {
	color: #464E58;
}

.inline-block {
	display: inline-block;
}

/* 画面下部のページ繊維バー */

.page-nav {
	display: flex;
	justify-content: center;
	width: 100%;
}
.page-nav-num {
	background-color: #F4F4F4;
	border: solid 1px #464E58;
	padding: 0.5em;
	margin: 5px;
}
/* ・・・ってとこ */

.page-nav-omitted {
	padding: 0.5em;
	margin: 5px;
	background-color: none;
	border: none;
}
.yellow-button {
	background-color: #FFE202;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	border-radius: 2em;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 16px;
}
.important-button{
    font-size: 20px;
}
.gray-button {
	font-size: 14px;
	background-color: #F4F4F4;
	border: solid 1px #8C9298;
	display: flex;
	align-items: center;
	border-radius: 3px;
	padding: 0.3em 0.7em 0.3em 0.7em;
}
.normal-button {
    font-size: 16px;
	background-color: white;
	border: solid 1px #8C9298;
	display: flex;
	align-items: center;
	border-radius: 2em;
	padding: 0.5em 1em 0.5em 1em;
}
.negative-button {
	background-color: rgb(210, 210, 210);
	border: solid 1px #8C9298;
	display: flex;
	align-items: center;
	border-radius: 2em;
	padding: 0.5em 1em 0.5em 1em;
}
/* 学生 */

.student-contents {
	box-sizing: border-box;
	width: 100%;
	margin-top: 60px;
	padding: 40px;
	/* height: auto;
    width: calc(100vw - 300px); */
}
/* 学生プロフ左メニュー  */

.student-prof-menu {
	top: 60px;
	position: fixed;
	z-index: 900;
	width: 300px;
	background-color: white;
	padding: 25px;
	box-sizing: border-box;
}
.student-prof-contents {
	border-bottom: solid 1px #8C9298;
}
/* 企業 */

.company-contents {
	box-sizing: border-box;
	width: calc(100vw - 300px);
	margin-top: 60px;
	margin-left: 300px;
	padding: 40px;
	/* height: auto;
    width: calc(100vw - 300px); */
}
/* 企業詳細 */

.company-zenre-container {
	display: flex;
}
/* ヘッダー */

.header-container {
	position: fixed;
	justify-content: space-around;
	align-items: center;
	top: 0;
	min-width: 980px;
	z-index: 1000;
	height: 60px;
	width: 100%;
	display: flex;
	background-color: white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
.header-search-bar {
	display: flex;
	background-color: #F4F4F4;
	border-radius: 0.5em;
	padding: 0.3em;
	justify-content: space-between;
	border: solid 0.5px #8C9298;
}
.header-search-button {
	background: none;
	border: none;
}
.header-icon-container {
	display: flex;
}
.link-search {
	display: flex;
}
.header-icon {
	font-size: 30px;
}
/* usermenu */

.menu-icon {
	float: left;
}
.menu-text {
	float: left;
}
.user-menu-container {
	top: 60px;
	position: fixed;
	z-index: 900;
	background: white;
	width: 300px;
	border-right: solid 1px #8C9298;
}
/* ホーム画面 */

.recruitment-thumbnail {
	border: solid 0.5px #8C9298;
}
/* フッター */

.footer {
	width: 100%;
	height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: solid 0.5px #8C9298;
}
.footer-link-container {
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer-service-logo {
	margin-right: 140px;
}
.footer-link {
	margin-right: 80px;
}
/* 企業詳細ページ */

.post-box {
	border: solid 0.5px #8C9298;
	width: 430px;
	height: auto;
	margin-right: 10px;
	display:inline-block;
}
.post-img {
	width: 100%;
	height: auto;
}
.post-text-box {
	padding: 30px;
}
.post-summary {
	display: flex;
}
.post-tag {
	display: flex;
}
/* 学生ホーム */

.posts {
	overflow-x: scroll;
}

.post-box-container {
	width: 100%;
	justify-content: space-between;
	overflow: hidden;
	overflow-x: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	display: inline-block;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}
.home-main-contents {
	display: flex;
}
.search-menu-container {
	width: 350px;
}

.search-condition {
	padding-bottom: 30px;
}

/* 募集一覧 */

.post-list-contents {
	display: flex;
}

/* 募集管理画面 */

.post-management-contents {
	border-bottom: solid 1px #8C9298;
	display: flex;
}
.post-application-num-container {
	display: flex;
}
.post-application-num {
	display: flex;
}
.applicant-card {
	border: solid 1px #8C9298;
}
.applicant-img {
	border-radius: 60px;
}

/* 学生詳細ページ */
.each-skill-container{
    border-bottom: solid 0.5px #8C9298;
}
.student-prof-header{
    display: flex;
    border-bottom: solid 0.5px #8C9298;
}
.company-revue-card{
    border: solid 0.5px #8C9298;
}