/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

/* 全体共通 */

body {
	margin: 0;
	background-color: white;
	color: #464E58;
}
.flex{
    display: flex;
}
input {
    font-size: 16px;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
}
p {
	font-size: 16px;
	margin: 0;
}
h4 {
	font-size: 0.8em;
	font-weight: normal;
	color: #8C9298;
}
a {
	text-decoration: none;
	color: #464E58;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
i {
	color: #464E58;
}

.center {
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.padding-tb {
	padding-top: 30px;
	padding-bottom: 30px;
}

.padding-lr {
	padding-left: 30px;
	padding-right: 30px;
}

/* 画面下部のページ繊維バー */

.page-nav {
	display: flex;
	justify-content: center;
	width: 100%;
}
.page-nav-num {
	background-color: #F4F4F4;
	border: solid 1px #464E58;
	padding: 0.5em;
	margin: 5px;
}
/* ・・・ってとこ */

.page-nav-omitted {
	padding: 0.5em;
	margin: 5px;
	background-color: none;
	border: none;
}
.yellow-button {
	background-color: #FFE202;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
	align-items: center;
	border-radius: 5px;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 16px;
}
.important-button{
    font-size: 20px;
}
.gray-button {
	font-size: 14px;
	background-color: #F4F4F4;
	border: solid 1px #8C9298;
	align-items: center;
	border-radius: 5px;
	padding: 0.3em 0.7em 0.3em 0.7em;
}
.normal-button {
    font-size: 16px;
	background-color: white;
	border: solid 1px #8C9298;
	align-items: center;
	border-radius: 5px;
	padding: 0.5em 1em 0.5em 1em;
}
.negative-button {
	background-color: rgb(210, 210, 210);
	border: solid 1px #8C9298;
	align-items: center;
	border-radius: 5px;
	padding: 0.5em 1em 0.5em 1em;
}
/* 学生 */

.student-contents {
	box-sizing: border-box;
	width: 100%;
	margin-top: 60px;
	padding: 40px;
	/* height: auto;
    width: calc(100vw - 300px); */
}
/* 学生プロフ左メニュー  */

.student-prof-menu {
	top: 60px;
	position: fixed;
	z-index: 900;
	width: 300px;
	background-color: white;
	padding: 25px;
	box-sizing: border-box;
}
.student-prof-contents {
	border-bottom: solid 1px #8C9298;
}
/* 企業 */

.company-contents {
	box-sizing: border-box;
	width: calc(100vw - 300px);
	margin-top: 60px;
	margin-left: 300px;
	padding: 40px;
	/* height: auto;
    width: calc(100vw - 300px); */
}

.post-status {
	display: flex;
}

.post-summary-content {
	display: flex;
}

/* 企業詳細 */

.company-zenre-container {
	display: flex;
}
/* ヘッダー */

.header-container {
    box-sizing: border-box;
    position: fixed;
    padding: 10px 20px;
	align-items: center;
	top: 0;
	min-width: 980px;
	z-index: 1000;
	height: 60px;
	width: 100%;
    display: flex;
    justify-content: space-between;
	background-color: white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
.header-search-bar {
	display: flex;
	background-color: #F4F4F4;
	border-radius: 3px;
	padding: 0.5em;
	justify-content: space-between;
	border: solid 0.5px #8C9298;
}
.header-search-button {
	background: none;
	border: none;
}
.header-icon-container {
	display: flex;
}
.link-search-container {
    display: flex;
}
.header-search-link{
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.header-icon {
	margin-left: 10px;
}
/* usermenu */

.menu-icon {
	float: left;
}
.menu-text {
	float: left;
}
.user-menu-container {
	top: 60px;
	position: fixed;
	z-index: 900;
	background: white;
	width: 300px;
	border-right: solid 1px #8C9298;
}
/* ホーム画面 */

.recruitment-thumbnail {
	border: solid 0.5px #8C9298;
	padding-left: 30px;
	padding-right: 30px;
}
/* フッター */

.footer {
	width: 100%;
	height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: solid 0.5px #8C9298;
}
.footer-link-container {
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer-service-logo {
	margin-right: 140px;
}
.footer-link {
	margin-right: 80px;
}
/* 企業詳細ページ */

.post-box {
	border: solid 0.5px #8C9298;
	width: 430px;
	height: auto;
	margin-right: 10px;
	display:inline-block;
}
.post-img {
	width: 100%;
	height: auto;
}
.post-text-box {
	padding: 30px;
}
.post-summary {
	display: flex;
}
.post-tag {
	display: flex;
}
/* 学生ホーム */

.posts {
	overflow-x: scroll;
}

.post-box-container {
	width: 100%;
	justify-content: space-between;
	overflow: hidden;
	overflow-x: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	display: inline-block;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}
.home-main-contents {
	display: flex;
}
.search-menu-container {
	width: 350px;
}

.search-condition {
	padding-bottom: 30px;
}

/* 募集一覧 */
.post-list-contents {
	display: flex;
}

/* 募集詳細 */

.post-detail-content {
	padding-top: 30px;
	padding-bottom: 30px;
}

.review-box {
	border: solid 0.5px #8C9298;
	width: 430px;
	height: auto;
	padding: 10px;
	margin-right: 10px;
	display:inline-block;
}

/* 募集管理画面 */
.post-management-contents {
	border-bottom: solid 1px #8C9298;
	display: flex;
}
.post-application-num-container {
	display: flex;
}
.post-application-num {
	display: flex;
}
.applicant-card {
	border: solid 1px #8C9298;
}
.applicant-img {
	border-radius: 60px;
}
/* 学生詳細ページ */
.each-skill-container{
    border-bottom: solid 0.5px #8C9298;
}
.student-prof-header{
    display: flex;
    border-bottom: solid 0.5px #8C9298;
}
.company-revue-card{
    border: solid 0.5px #8C9298;
}
/* 応募確認ウィンドウ */
.modal-container{
    top: 0;
    z-index: 5000;
    background-color: rgba(50,50,50,0.1);
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-hidden{
    display: none;
}
.blur{
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.application-confirm-modal{
    border: solid 0.5px #8C9298;
    background-color: white;
    width: 500px;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
}
.apply-button{
    font-size: 16px;
    cursor: pointer;
}
/* 応募完了アラートの１・アニメーション調整 */
.alert{
    top: 60px;
    z-index: 5000;
    background-color: white;
    /* border: solid 1px #8C9298; */
    padding: 0.5em 1em;
    width: 100%;
    text-align: center;
}
.alert{
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    position: absolute;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
        display: none;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
        display: none;
    }
}
/* ログインモーダル */
.login-modal{
    border: solid 0.5px #8C9298;
    background-color: white;
    padding: 30px;
    text-align: center;
    width: 350px;
}
.login-else{
    width: 100%;
}
.login-button{
    width: 100%;
    color: black;
    background-color: #FFE202;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 14px;
}
.facebook-button{
    color: white;
    background-color: rgb(67, 116, 221);
    border: none;
}
.login-way-hr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-way{
    width: 43%;
    height: 1px;
    background-color: #8C9298;
}
.login-hr{
    width: 100%;
    height: 1px;
    background-color: #8C9298;
}
.form-control{
    margin: 0;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 10px;
    box-sizing: border-box;;
}
.forget-password{
    text-decoration: underline;
}
.login-hr{
    width: 100%;
    height: 1px;
    background-color: #8C9298;
    margin: 10px 0;
}
.account-regist{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.regist-button{
    font-size: 12px;
	background-color: #F4F4F4;
	display: flex;
	align-items: center;
	border-radius: 3px;
    padding: 0.5em;
    margin-left: 20px;
}