#nav {
  list-style: none;
  overflow: hidden;
  margin: 0;
}
 
#nav li {
  text-align: center;
  background-color: lightgray;
  float: right;
  height: 80px;
  line-height: 80px;
  margin-right: 2px;
}
 
#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}