<!-- 企業ページの左側に固定されてるメニュー -->
<div class="user-menu-container">
    <ul><!-- ここ3つは企業情報編集ページにリンクします -->
        <li><a href="//企業情報編集ページ"><img src="" alt="company-logo"></a></li><!--企業ロゴ-->
        <li><a href="//企業情報編集ページ"><p class="company-name">制作会社Zenplant</p></a></li><!--企業名-->
        <li><a href="//企業情報編集ページ"><h4>企業情報を編集する</h4></a></li>
    </ul>
    <ul>
        <li><a href="/home.html">
            <i class="fas fa-list menu-icon"></i>
            <p class="menu-title">募集情報の管理</p>
        </a></li>
    </ul>
    <ul>
        <li><a href="/scout.html">
            <i class="far fa-comment-dots menu-icon"></i>
            <p class="menu-title">スカウト中の学生</p>
        </a></li>
        <li><a href="/scout.html">
            <i class="far fa-bookmark menu-icon"></i>
            <p class="menu-title">フォローした学生</p>
        </a></li>
        <li><a href="/scout.html">
            <i class="far fa-user menu-icon"></i>
            <p class="menu-title">フォローされた学生</p>
        </a></li>
    </ul>
    <ul>
        <li><p>ご利用中のプラン</p></li>
        <li><!-- プラン詳細に遷移 -->
            <a href="/plan"><h3>ベーシック</h3></a>
            <a href="/plan"><h4>プラン情報を編集する</h4></a>
        </li>
        <li>
            <a href="/billing">
                <i class="far fa-credit-card menu-icon"></i>
                <p class="menu-title">請求先情報</p>
            </a>
        </li>
    </ul>
    <ul>
        <li><a href="/setting">
            <i class="fas fa-cog menu-icon"></i>
            <p class="menu-title">各種設定</p></a>
        </li>
        <li>
            <i class="fas fa-sign-out-alt menu-icon"></i>
            <p class="menu-title"><%= link_to "ログアウト", logout_path, method: :delete %></p>
        </li>
        <!-- ””のなかが表示される文字でlink_toがaタグに自動変換される -->
    </ul>
</div>