<div class="footer">
	<!--<img class="footer-service-logo" alt="uniwork" src="/assets/logotype/uniwork-logotype.png">-->
	<ul class="footer-link-container">
		<li class="footer-link hover-underline">
			<a href="#" class="hover-underline">
			<p class="hover-underline">ヘルプ</p></a>
		</li>
		<li class="footer-link hover-underline">
			<a href="#" class="hover-underline">
			<p class="hover-underline">ご利用方法</p></a>
		</li>
		<li class="footer-link hover-underline">
			<a href="#" class="hover-underline">
			<p class="hover-underline">運営会社</p></a>
		</li>
		<li class="footer-link hover-underline">
			<a href="#" class="hover-underline">
			<p class="hover-underline">利用規約</p></a>
		</li>
		<li class="footer-link hover-underline">
			<a href="#" class="hover-underline">
			<p class="hover-underline">プライバシー</p></a>
		</li>
		<li class="footer-link hover-underline">
			<p class="hover-underline">
                <%= link_to "ログアウト", logout_path, method: :delete ,class:"hover-underline" %>
            </p>
		</li>
	</ul>
</div>
