<div class="footer">
	<img class="footer-service-logo" alt="uniwork" src="/assets/logotype/uniwork-logotype.png">
	<ul class="footer-link-container">
		<li class="footer-link">
			<a href="">
			<p>ヘルプ</p></a>
		</li>
		<li class="footer-link">
			<a href="">
			<p>ご利用方法</p></a>
		</li>
		<li class="footer-link">
			<a href="">
			<p>運営会社</p></a>
		</li>
		<li class="footer-link">
			<a href="">
			<p>利用規約</p></a>
		</li>
		<li class="footer-link">
			<a href="">
			<p>プライバシー</p></a>
		</li>
	</ul>
</div>
